{% extends 'partlist/base.html' %}

{% block content %}
    <h2>部品使用・補充履歴</h2>
    <table border="1">
        <tr>
            <th>日付</th>
            <th>部品名</th>
            <th>変更量</th>
            <th>備考</th>
        </tr>
        {% if list_transactions %}
        {% for transaction in list_transactions %}
        <tr>
            <th>{{ transaction.transaction_date }}</th>
            <th><a href="{% url 'part_detail' transaction.transaction_part.pk %}">{{ transaction.transaction_part }}</a></th>
            <th>{{ transaction.transaction_diff }}</th>
            <th>{{ transaction.transaction_remark }}</th>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
{% endblock %}
